@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

html {
    background-color: #111518;
    font-family: 'Ubuntu', sans-serif;
    background-color: #111518; /* Fond foncé */
    opacity: 0; /* Le site est initialement transparent */
    transition: opacity 1s; /* Durée de l'animation de fondu */
}

#menu__toggle {
    opacity: 0;
        z-index: 999;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
    z-index: 999;
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
    z-index: 999;
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    z-index: 999;
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
    z-index: 999;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 999;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
    z-index: 999;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
    z-index: 999;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
    z-index: 999;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #3d3d3d;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 999;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #9e9e9e;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    z-index: 999;
  }
  .menu__item:hover {
    background-color: #9e9e9e;
    color: #3d3d3d;
    z-index: 999;
  }

  .text_welcome {
    position: absolute; top: -18px; left: 70px;
  }

  .home_footer {
    position:absolute;
    bottom:0;
    margin-left: -8px;
    background-color: #2d2d2d;
    width: 1093px;
  }

  .bg_home {
    background-color: #2d2d2d;
    margin-left: -8px;
    height: 45px;
    margin-top: -8px;
    margin-right: -8px;
  }

  .home_global{
    margin-top: 0px;
    margin-left: 0px;
  }
 

img {
  border-radius: 10px;
}

video {
  border-radius: 10px;
}



button {
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	background: #9e9e9e;
	border: 2px solid rgb(255, 255, 255);
	box-shadow: 5px 5px 0 #0c96f9,
		-5px -5px 0 #ff7702,
		-5px 5px 0 #ff7702,
		5px -5px 0 #0c96f9;
	transition: 500ms ease-in-out;
  border-radius: 10px;
}

button:hover {
	box-shadow: 20px 5px 0 #0c96f9, -20px -5px 0 #ff7702;
}

button:focus {
	outline: none;
}

button {
  font-family: 'Ubuntu', sans-serif;
}

footer {
  font-family: 'Ubuntu', sans-serif;
}

li {
  font-family: 'Ubuntu', sans-serif;
  width: auto;
  z-index: 999;
}

ul {
  font-family: 'Ubuntu', sans-serif;
  width: auto;
  z-index: 999;
}

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2d2d2d;
  height: auto;
  width: auto;
  padding-top: 0px;
  color: #fff;
}

.rocketpass-home-footer{
bottom: -600px;
width: auto;
}

.rocketpass-footer{
  bottom: -3400px;
  width: auto;
  }

.pre-rocketpass-footer{
    bottom: -2800px;
    width: auto;
    }

.reward-footer{
    bottom: -2000px;
    width: auto;
    }

.price-footer{
  bottom: -150px;
  width: auto;
  }

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h4{
  font-size: 10px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}


.btn {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 120px;
  cursor: pointer;
  z-index: 999;
}


.icone {
  width: 50px;
  z-index: 999;
}

.rp7-footer {
  bottom: -450px;
  width: auto;
}

.token-footer {
  bottom: -1200px;
  width: auto;
}

.toto {
  display: none;
}

.container {
  position: relative;
  text-align: center;
}

.container > p {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -9px;
}

.serveur {
  text-align: left;
  background: rgb(121,121,121);
  background: linear-gradient(180deg, rgba(121,121,121,1) 0%, rgba(255,255,255,1) 100%);
}

.image_serveur {
  margin: 10px;
}

.nom_serveur {
  margin: 140px;
  margin-top: -100px;
  width: 180px;
}


.button_sbp {
  width: 250px;
}

.bouton_sbp {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #050505;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.bouton_sbp:hover {
  transform: translateY(-5px);
}

.bouton_sbp:active {
  transform: translateY(0);
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
}



.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnail {
  width: 180px;
  height: auto;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.fullscreen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  text-align: center;
}

.fullscreen-img {
  max-width: 90%;
  max-height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}


.fullscreen-video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/* Style pour la barre de recherche */
input[type="text"] {
  width: 30%;
  padding: 10px;
  background-color: #3d3d3d; /* Couleur de fond grise */
  color: #fff; /* Couleur du texte en blanc */
  border: none; /* Suppression de la bordure */
  border-radius: 5px;
}



    /* Style pour le conteneur d'images avec flexbox */
    .image-container {
      display: flex;
      flex-wrap: wrap; /* Permet aux images de passer à la ligne suivante si nécessaire */
      justify-content: center; /* Centre les images horizontalement */
      align-items: center; /* Centre les images verticalement */
    }

    /* Style pour chaque image */
    .image {
      position: relative;
      background-color: black;
      width: 100px;
      height: 200px;
      border-radius: 10px;
      color: white;
      margin: 5px;
      text-align: center;
    }

    .image img {
      transition: transform 0.2s; /* Ajoute une transition pour une animation fluide */
    }

    /* Style pour le message d'aucun résultat */
    .no-result-message {
      display: none;
      color: red;
      animation: blink 1s infinite; /* Ajout de l'animation */
    }



        /* Animation de clignotement */
        @keyframes blink {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }





    /* Style de la table */
    .table {
      width: 80%; /* Largeur de la table */
      margin: 0 auto; /* Centre la table horizontalement */
      border-collapse: collapse; /* Fusionne les bordures des cellules */
      border: 2px solid #333; /* Bordure de la table */
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère autour de la table */
    }

    /* Style des cellules d'en-tête */
    .th {
      background-color: #3d3d3d; /* Couleur de fond */
      color: #fff; /* Couleur du texte */
      padding: 10px; /* Espacement intérieur */
      text-align: left; /* Alignement du texte à gauche */
    }

    /* Style des cellules de données */
    .td {
      background-color: #f3f3f3; /* Couleur de fond */
      color: #333; /* Couleur du texte */
      padding: 10px; /* Espacement intérieur */
      text-align: left; /* Alignement du texte à gauche */
    }

    /* Style pour les images */
    .table img {
      max-width: 100%; /* Empêche le redimensionnement excessif des images */
      margin: 0 auto; /* Centre les images horizontalement dans la cellule */
      display: inline-block;
    }



        /* Style pour l'image en plein écran */
        #fullscreen {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.9);
          text-align: center;
        }
    
        #fullscreen img {
          max-width: 90%;
          max-height: 90%;
          margin: auto;
          position: absolute;
          top: 0; bottom: 0; left: 0; right: 0;
        }



    .thumbnails img {
      margin: 3px;
    }

    .thumbnails2 {
      margin: 3px;
    }

    .thumbnails img:hover {
      transform: scale(1.1);
    }


    /* Style pour séparer les différentes cases avec des bordures */
    .table {
      border-collapse: collapse;
      width: 80%;
      margin: auto;
      font-family: 'Arial';
      font-weight: bold;
      width: auto;
    }

    .td {
      border: 2px solid #000;
      padding: 10px;
      text-align: center;
      color: black;
      font-family: 'Arial';
      font-weight: bold;
    }


    .th {
        border: 2px solid #000;
        padding: 10px;
        text-align: center;
        color: white;
        font-family: 'Arial';
        font-weight: bold;
    }


      /* Style pour aligner le texte et l'image horizontalement dans color-info */
    .color-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center; /* Aligner horizontalement le texte */
    }

    .color-info span {
      font-family: 'Arial', sans-serif;
    }


    /* CSS pour l'animation RGB du texte */
@keyframes rgbTextAnimation {
  0% {
    color: red;
  }
  25% {
    color: green;
  }
  50% {
    color: blue;
  }
  75% {
    color: green;
  }
  100% {
    color: red;
  }
}

/* Appliquer l'animation rgb */
.paint {
  animation: rgbTextAnimation 2s infinite;
}


/* CSS pour l'animation de jaune sur le texte */
@keyframes yellowTextAnimation {
  0% {
    color: black;
  }
  50% {
    color: rgba(243, 239, 0);
  }
  100% {
    color: black;
  }
}

/* CSS pour l'animation de violet sur le texte */
@keyframes bmTextAnimation {
  0% {
    color: black;
  }
  50% {
    color: rgb(175, 0, 175);
  }
  100% {
    color: black;
  }
}


/* CSS pour l'animation de rouge sur le texte */
@keyframes importéTextAnimation {
  0% {
    color: black;
  }
  50% {
    color: rgb(255, 0, 0);
  }
  100% {
    color: black;
  }
}
